@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Song+Myung&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');
@font-face{
	font-family: "CenturyGothic";
	src: url(font/GOTHIC.TTF) format('truetype');
}
@font-face{
	font-family: "CenturyGothicBold";
	src: url(font/GOTHICB.TTF) format('truetype');
	font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "bring_heartregular";
    src: url('font/BringHeart-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*{
	font-family: 'Nanum Gothic', sans-serif;
	color: #f4f3f4;
}
.fullpage{
 	height: 100%;
	width: 100%;
	position: relative;
}
nav > a > img{
	width: 145px;
	position: fixed;
	top: 40px;
	left: 40px;
	color: #fff;
	z-index: 99;
	transition: 0.2s;
	/*cursor: pointer;*/
	text-align: center;
	line-height: 200px;
}
/*nav:hover{
	box-shadow: #666 0px 5px 20px; 
}*/
header{
	/*background-image: url(img/%EB%8C%80%EC%A7%80%201.png);
	background-size: cover;*/
}
header > .titleName{
	font-family: "CenturyGothic", sans-serif;
	color: #f4f3f4;
	font-size: 26pt;
	line-height: 56pt;
	position: absolute;
	top: 195px;
	left: 40px;
}
header > .titleImg{
	height: 80%;
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
}
header > .logo{
	position: absolute;
	width: 80px;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 88.5%;
}
header > .slogan{
	font-family: 'bring_heartregular', serif;
	font-size: 24pt;
	color: #f4f3f4;
	text-align: center;
	position: absolute;
	transform: translate(-50%, 0);
	left: 50%;
	top: 90%;
}
.contents1{
	position: relative;
	z-index: 10;
	color: #f4f3f4;
}
.contents1 > .bgblack{
	width: 100%;
	height: 100%;
	background-color: #1e1d1e;
	opacity: 0.5;
	position: absolute;
	z-index: 0;
}
.contents1 > .bgvideo{
	position: absolute;
	z-index: -10;
}
.subTitle{
	font-family: "bring_heartregular", serif;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 20%;
	font-size: 5em;
	color: #f4f3f4;
}
.contents1 > p{
	font-size: 1.2em;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	color: #f4f3f4;
}
.contents1 >.text {
	color: #f4f3f4;
}
.point{
	font-family: 'Song Myung', serif;
	font-size: 1.6em;
	font-weight: bold;
	color: #f5e0ff;
}
.line{
	width: 200px;
	height: 200px;
	background-color: #000;
	z-index: 999;
}
.text::before{
	content: '"';
	font-family: 'Pacifico', cursive;
	font-size: 1.8em;
	color: #f5e0ff;
}
.contents2{
	position: relative;
}
.center{
	text-align: center;
	color: #f4f3f4;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}
.center > .text1{
	font-family: 'Covered By Your Grace', cursive;
	font-size: 2em;
}
.center > .text2{
	font-family: 'Covered By Your Grace', cursive;
	font-size: 3.5em;
	font-weight: 600;
	line-height: 0.5em;
}
.center > .text3{
	font-size: 1.2em;
	margin-top: 60px;
}

.year{
	font-family: "CenturyGothicBold", sans-serif;
	font-size: 5em;
	color: #f4f3f4;
	transform: rotate(180deg);
	position: relative;
	top: 50%;
	transform: translate(-50%, -50%);
	transform: rotate(270deg);
	left: -42.5%;
}

.contents{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}

.contents > article{
	width: 1080px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.contents > article > .Specification{
	margin: 20px;
	width: 320px;
	height: 200px;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.contents > article > .Specification > .Explanation{
	width: 320px;
	height: 200px;
	margin: 0;
	text-align: center;
	position: relative;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 100px;
	transition-duration: 0.5s;
}

.contents > article > .Specification:hover > .Explanation{
	top: -107px;
}

.contents > article > .Specification:hover > .Explanation > .expText{
	top: 110px;
}

.contents > article > .Specification > .Explanation > .black{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #1e1d1e;
	opacity: 0.8;
}

.contents > article > .Specification > .Explanation > .expText{
	position: absolute;
	left: 50%;
	top: 150%;
	transform: translate(-50%, -50%);
	transition-duration: 1s;
}

.contents > article > .Specification > .Explanation > .expText > h3{
	color: #f4f3f4;
}

.contents > article > .Specification > .Explanation > .expText > .underLine{
	width: 200px;
	height: 1px;
	background-color: #f4f3f4;
	margin-top: -20px;
	margin-bottom: 10px;
}

.contents > article > .Specification > .Explanation > .expText > p{
	color: #f4f3f4;
}

.contents3{
	text-align: center;
}

.contents3 > h1{
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%, -50%);
	color: #f4f3f4;
}

.contents3 > ul{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #f4f3f4;
}

.contents3 > ul > li{
	margin: 10px;
}

footer{
	/*text-align: center;
	line-height: 50;*/
	position: relative;
	width: 100%;
	height: 100%;
}

footer > .ftext{
	background-color: #1e1d1e;
	z-index: 10;
	position: absolute;
	color: #f4f3f4;
	transform: translate(-100%, -50%);
	padding-left: 30px;
	padding-right: 30px;
	line-height: 1.4em;
	display: inline-block;
	font-size: 3.5em;
	white-space:nowrap;
}

footer > .f1{
	top: 42%;
	left: 82%;
}

footer > .f2{
	top: 58%;
	left: 82%;
}

footer > .footerbg{
	height: 120%;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

footer > p{
	color: #1e1d1e;
	font-family: "CenturyGothicBold", sans-serif;
	font-size: 2.2em;
	position: absolute;
	left: 15%;
	top: 77.5%;
}

footer > .footerUnderLine{
	width: 200px;
	height: 2px;
	background-color: #1e1d1e;
	position: absolute;
	top: 85%;
	left: 15%;
}

footer > .sharBox{
	width: auto;
	height: auto;
	position: absolute;
	top: 87%;
	left: 15%;
}

footer > .sharBox > .Sharing{
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

footer > .sharBox > .facebook{
	cursor: pointer;
	border-radius: 100%;
}

footer > .sharBox > .twitter{
	cursor: pointer;
	border-radius: 100%;
}

footer > .sharBox > .Google_plus{
	cursor: pointer;
	border-radius: 100%;
}
